/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-color-1: hsl(223, 87%, 63%);

  --secondary-color-1: hsl(223, 100%, 88%);
  --secondary-color-2: hsl(354, 100%, 66%);

  --neutral-color-1: hsl(0, 0%, 59%);
  --neutral-color-2: hsl(209, 33%, 12%);

  --fs-body: 1.25rem;
  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;
}

.ping__container {
  padding-inline: 2rem;
  padding-block: 5rem;
  text-align: center;
  max-width: 50rem;

}

.ping__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 3rem;
}

.ping__main-page {
  margin-block-end: 10rem;
}


.ping__main-heading {
  color: var(--neutral-color-1);
  font-weight: var(--fw-300);
  margin-block-end: 2rem;

}

.ping__main-heading strong {
  color: var(--neutral-color-2);
  font-weight: var(--fw-700);
}

.ping__message {
  color: var(--neutral-color-2);
  font-weight: var(--fw-300);
  margin-block-end: 2rem;
}

.ping__section {
  margin-block-end: 5rem;
}

.email__input {
  border: 1px solid var(--secondary-color-1);
  border-radius: 100px;
  padding-block: .85rem;
  padding-inline: 3rem;
  width: 100%;
  font-family: inherit;
  font-weight: var(--fw-300);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.hide {
  display: none;
}

.invalid-message {
  font-style: italic;
  color: var(--secondary-color-2);
  font-size: .85rem;

}



.input__invalid {
  border: 1px solid var(--secondary-color-2);

}



.email__input::placeholder {
  /* color: hsla(223, 100%, 88%, 0.75); */
  color: var(--neutral-color-1)
}



.submit-btn {
  border: none;
  background-color: var(--primary-color-1);
  color: #fff;
  font-weight: var(--fw-600);
  border-radius: 100px;
  padding-block: 0.85rem;
  box-shadow: 0 7px 12px rgba(79, 125, 243, 0.5);
  cursor: pointer;
  transition: background-color, .2s;
}

.submit-btn:hover {
  background-color: hsla(223, 87%, 63%, 0.8);
}


.social-media__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-end: 3rem;
}

.social-media__link {
  border: 1px solid var(--secondary-color-1);
  border-radius: 100px;
  display: flex;
  padding: .65rem;
  background-color: #fff;
  transition: background-color, .2s;
}

.social-media__link:hover {
  background-color: var(--primary-color-1);
}

.social-media__link:hover svg {
  fill: #fff;
}


.social-media__link svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--primary-color-1);
}

.copyright {
  font-size: .75rem;
  color: var(--neutral-color-1);
}

@media only screen and (min-width: 1024px) {
  .ping__container {
    padding-inline: 4rem;
  }


  .ping__main-heading {
    font-size: 3rem;
    margin-block-end: 1rem;
  }

  .ping__main-page {
    margin-block-end: 5rem;
  }

  .ping__message {
    font-size: var(--fs-body);
  }

  .ping__form {
    flex-direction: row;
  }

  .email__input {
    padding-inline: 2rem;
  }

  .form-control {
    flex: 2;
  }

  .invalid-message {
    align-self: flex-start;
    padding-inline-start: 2rem;
  }

  .submit-btn {
    flex: 1;
    height: min-content;
  }

  .social-media__list {

    margin-block-end: 1.5rem;
  }

}